# Dependency directories
node_modules/
jspm_packages/

# Build and distribution directories
dist/
build/
bin/
obj/

# Expo / React Native local directories
.expo/
web-build/
**/android/
**/ios/

# Local SQLite files
*.sqlite
*.db

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store
